<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>

  <body class="bg-sky-200">

    <main class="w-4/6 mx-auto my-6">
      <div class="flex justify-center py-5">
        <img src="/img/logo.png" />
      </div>
      <div class="grid grid-flow-row grid-cols-5 gap-5">
        <div th:each="pokemon: ${response.content}" class="bg-white rounded-md shadow-md p-6 flex flex-col justify-items-center gap-2 relative hover:scale-105">
          <img loading="lazy" th:attr="src=@{|https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemon.id}.png|}" alt="">
          <div>
            <p th:text="${pokemon.name}" class="font-semibold text-xl text-center"></p>
          </div>
          <div>
            <p th:text="'#'+ ${#numbers.formatInteger(pokemon.id,3)}" class="font-semibold text-lg text-center text-gray-500 italic"></p>
          </div>
          <a th:href="@{|/pokemon/${pokemon.id}|}" class="after:absolute after:inset-0"></a>
        </div>
      </div>
      <div class="flex justify-center py-7">
        <div th:if="${response.hasPrevious()}">
          <a th:href="@{'/?page='+${response.previousPageable().getPageNumber()+1}+'&size='+${response.size}}" class="block px-6 py-2 mx-3 bg-indigo-500 rounded-md shadow-md hover:bg-indigo-700 text-white text-xl w-32 text-center">Previous</a>
        </div>
        <div th:each="pageNumber: ${pageNumbers}" th:if="${pageNumber < 4 || pageNumber> response.totalPages - 3 || (pageNumber >= response.number && pageNumber <= response.number + 2) }" >
          <a th:href="@{/(size=${response.size}, page=${pageNumber})}" th:text="${pageNumber}" class="block box-content px-3 py-2 mx-3 bg-indigo-500 rounded-md shadow-md hover:bg-indigo-700 text-white text-xl w-10 text-center" th:classappend="${pageNumber == response.number + 1 ? 'bg-green-500' :'' }"></a>
        </div>
        <div th:if="${response.hasNext()}">
          <a th:href="@{'/?page='+${response.nextPageable().getPageNumber()+1}+'&size='+${response.size}}" class="block px-6 py-2 mx-3 bg-indigo-500 rounded-md shadow-md hover:bg-indigo-700 text-white text-xl w-32 text-center">Next</a>
        </div>
      </div>
    </main>
    </p>
  </body>

</html>